.features{
    margin-top: 163px;
    display: flex;
    justify-content: space-around;
}
.features-img{
    max-width: 508px;
    width: 100%;
    height: 414px;
}
.features-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features-txt h2{
    font-family: rubik-bold;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    max-width: 383px;
    width: 100%;
    height: 100px;
}
.features-txt p{
    margin-top: 20px;
    font-family: rubik;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    max-width: 427px;
    width: 100%;
    height: 60px;
}
.checks{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.green-txt{
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.green-txt img{
    max-width: 24px;
    width: 100%;
    height: 24px;
}
.green-txt p{
    font-family: rubik;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}