<section class="customers">
  <h1>Trusted by Thousands of Happy Customer</h1>
  <p>
    These are the stories of our customers who have joined us with great
    pleasure when using this crazy feature.
  </p>
  <div class="customer-cards">
    <div class="card">
      <div class="card-title">
        <div class="card-img-name">
          <div class="card-img">
            <img src="../../assets/img/Ellipse 175.png" alt="card-1 img" />
          </div>
          <div class="card-name">
            <h3>Viezh Robert</h3>
            <p>Warsaw, Poland</p>
          </div>
        </div>
        <div class="grade">
          <p>4.5</p>
          <img src="../../assets/img/Group 1161.png" alt="star img" />
        </div>
      </div>
      <p class="card-main-txt">
        “Wow... I am very happy to use this VPN, it turned out to be more than
        my expectations and so far there have been no problems. LaslesVPN always
        the best”.
      </p>
    </div>
    <div class="card">
      <div class="card-title">
        <div class="card-img-name">
          <div class="card-img">
            <img src="../../assets/img/Ellipse 175 (1).png" alt="card-2 img" />
          </div>
          <div class="card-name">
            <h3>Yessica Christy</h3>
            <p>Shanxi, China</p>
          </div>
        </div>
        <div class="grade">
          <p>4.5</p>
          <img src="../../assets/img/Group 1161.png" alt="star img" />
        </div>
      </div>
      <p class="card-main-txt">
        “I like it because I like to travel far and still can connect with high
        speed.”
      </p>
    </div>
    <div class="card">
      <div class="card-title">
        <div class="card-img-name">
          <div class="card-img">
            <img src="../../assets/img/Ellipse 175 (2).png" alt="card-3 img" />
          </div>
          <div class="card-name">
            <h3>Kim Young Jou</h3>
            <p>Seoul, South Korea</p>
          </div>
        </div>
        <div class="grade">
          <p>4.5</p>
          <img src="../../assets/img/Group 1161.png" alt="star img" />
        </div>
      </div>
      <p class="card-main-txt">
        “This is very unusual for my business that currently requires a virtual
        private network that has high security.”
      </p>
    </div>
  </div>
</section>
