<section class="package">
  <h1>Choose Your Plan</h1>
  <p class="package-main-txt">
    Let's choose the package that is best for you and explore it happily and
    cheerfully.
  </p>
  <div class="package-items">
    <div class="package-item">
      <img
        class="package-item-img"
        src="../../assets/img/Free.png"
        alt="free img"
      />
      <h2>Free Plan</h2>
      <div class="services-div">
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Unlimited Bandwitch</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Encrypted Connection</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>No Traffic Logs</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Works on All Devices</p>
        </div>
      </div>
      <h1 class="package-free">Free</h1>
      <button>Select</button>
    </div>
    <div class="package-item">
      <img
        class="package-item-img"
        src="../../assets/img/Standard.png"
        alt="Standard img"
      />
      <h2>Standard Plan</h2>
      <div class="services-div">
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Unlimited Bandwitch</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Encrypted Connection</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Yes Traffic Logs</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Works on All Devices</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Connect Anyware</p>
        </div>
      </div>
      <h1 class="package-standard">$9 <span> / mo</span></h1>
      <button>Select</button>
    </div>
    <div class="package-item">
      <img
        class="package-item-img"
        src="../../assets/img/Premium.png"
        alt="premium img"
      />
      <h2>Premium Plan</h2>
      <div class="services-div">
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Unlimited Bandwitch</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Encrypted Connection</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Yes Traffic Logs</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Works on All Devices</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Connect Anyware</p>
        </div>
        <div class="package-service">
          <img src="../../assets/img/jam_check.png" alt="check icon" />
          <p>Get New Features</p>
        </div>
      </div>
      <h1 class="package-premium">$12 <span> / mo</span></h1>
      <button>Select</button>
    </div>
  </div>
</section>
